/* body and fonts */
@font-face {
    font-family: 'Roboto Condensed';
    src: url(../../src/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
  }
  
  body {
    box-sizing: border-box;
    background-color: #ffe8cc;
    font-family: "Roboto Condensed", sans-serif;
    color: #6d4832;
  }
  