.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.accordeon {
    background-color: #ffe8cc;
    cursor: pointer;
    width: 100%;
    padding: 18px;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: "Roboto Condensed", sans-serif;
    color: #6d4832;
    font-weight: 600;
    font-size: 2ch;
  }
  
  .active, .accordeon:hover {
    background-color: #fadbb5
  }
  
  .panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }